*{
    margin: 0;
    padding: 0;
}

img{
   width: 100%;
   height: 100%;
   position:absolute;
}

h1{
   text-align: center;
   color: rgb(255, 246, 246);
   margin-top: 0%;
   margin-bottom: 12%;
  position: relative;
}

fieldset{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 246, 246);
    width: 30%;
    height: 150px;
   text-align: center;
   margin: auto;
   position:relative;
}
footer details{
    margin-top: 10%;
    position: relative;
}

:root{
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
    --cor-footer:black;
    --cor-fundo: hsl(186, 79%, 55%);
}
* {
    margin: 0;
    /* zera as margens */
    padding: 0;
    /* zera os epsaçamentos internos */
    box-sizing: border-box;
    /* calcula a largura e altura dos elementos sem levar em conta, padding e border */
    font-family: Arial, Helvetica, sans-serif;
    /* família de fontes Arial, Helvetica, sans-serif*/
}
header h2 a{
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 50%;
    position: relative;
    margin: 0%;
    margin-top: 200%;
    transition: 0.7s;
    padding: 20px 15px;
    font-size: 30px;
}

header h2 a:hover{
    background-color: var(--cor-hover);
    font-size: 25px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header{
    height: 60px;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
header nav ul li a {
    transition: 0.7s;
    padding: 20px 15px;
    font-size: 20px;
}
header a {
    color:var(--cor-footer);
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: var(--cor-hover);
    font-size: 18px;
    border-radius: 10px;
}
@media screen and (width < 460px) {
  
}

